<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input id="username" formControlName="username" type="text" placeholder="Enter your username" />

    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" placeholder="Enter password" />

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

  <div class="register-link">
    <p>Dont have account?</p>
    <button class="register-button" (click)="goToRegister()">Register</button>
  </div>
</div>
