<div class="login-container">
  <h2>Login</h2>
  <form *ngIf="!twoFactorRequired" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input id="username" formControlName="username" type="text" placeholder="Enter your username" />

    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" placeholder="Enter password" />

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

  <div *ngIf="twoFactorRequired" class="two-factor-container">
    <h3>Enter 2FA Code</h3>
    <form [formGroup]="twoFactorForm" (ngSubmit)="onSubmitTwoFactor()">
      <label for="twoFactorCode">2FA Code:</label>
      <input id="twoFactorCode" formControlName="twoFactorCode" type="text" placeholder="Enter 2FA code" />
      <button type="submit">Verify 2FA</button>
    </form>
  </div>

  <div class="register-link">
    <p>Don't have an account?</p>
    <button class="register-button" (click)="goToRegister()">Register</button>
  </div>
</div>
